<div class="col-10 offset-lg-0" style="padding-right: 1px;">
  <div class="row justify-content-center">
    <div class="col-xl-10 col-xxl-9">
      <div class="rf-register-form">
        <form class="rg-form" >

          <h2>Ajouter Outil</h2>

          <div class="rf-input-container">
            <i class="fa fa-star fa fa-user rf-icon">
            </i>
            <input class="form-control rf-input-field" type="text" placeholder="Nom" formControlName="nom" />
          </div>
          <div class="rf-input-container">
            <i class="fa fa-mobile fa fa-envelope rf-icon"></i>
            <input class="form-control rf-input-field" type="text" placeholder="Quantite" formControlName="quantite" />
          </div>
          <div class="rf-input-container">
            <i class="fa fa-map-pin fa fa-key rf-icon"></i>
            <input class="form-control rf-input-field" type="text" placeholder="Adresse"  formControlName="adresse"/>
          </div>
          <div class="rf-input-container">
            <i class="fa fa-map-pin fa fa-key rf-icon"></i>
            <select class="form-select">
              <optgroup label="choisi le fournisseur">
                <option value="12" selected="">Fournisseur 1</option>
                <option value="13">Fournisseur 2</option>
                <option value="14">Fournisseur 3</option>
                <option value="14">Fournisseur 4</option>
                <option value="14">Fournisseur 5</option>
              </optgroup>
            </select>
          </div>
          <div class="rf-input-container">
            <i class="fa fa-map-pin fa fa-key rf-icon"></i>
            <input class="form-control rf-input-field" type="text" placeholder="Description"  formControlName="description"/>
          </div>
          <div class="rf-input-container">
            <i class="fa fa-map-pin fa fa-key rf-icon"></i>
            <input class="form-control rf-input-field" type="date" placeholder="Date Expiration"  formControlName="dateExpiration"/>
          </div>

          <button class="btn btn-primary rf-btn" type="button" >Ajouter</button>

        </form>
      </div>
    </div>
  </div>
</div>

